In [1]:
# looping in tuples
# tuple with one element
# tuple without paranthesis
# tuple unpacking
# list inside tuple
# some functions that you can use with tuples

In [2]:
mixed = (1,2,3,4.0)
for i in mixed:         # for loop
    print(i)

1
2
3
4.0

In [3]:
nums = (1)
type(nums)    # tuple with one element ?

int

In [4]:
num = (1,)
type(num)

tuple

In [6]:
fruit = "mango","orange","bear"           # tuple without paranthesis
type(fruit)

tuple

In [8]:
fruit = ("mango","orange","bear")
fruit1 , fruit2 , fruit3 = (fruit)          # tuple unpacking
print(fruit2)

orange

In [14]:
fruit = ("mango","orange","bear",["coconut","date","gava"])
fruit[3].pop()
print(fruit)

('mango', 'orange', 'bear', ['coconut', 'date'])

In [15]:
fruit[3].append("pineapple")
print(fruit)

('mango', 'orange', 'bear', ['coconut', 'date', 'pineapple'])

In [16]:
mixed = (1,2,3,4.0)
print(min(mixed))

1

In [17]:
print(max(mixed))

4.0

In [18]:
print(sum(mixed))

10.0

In [19]:
nums = tuple(range(1,11))
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [21]:
tuple_list = list((1,2,3,4,5,6,7,8,9))  # list of tuples
print(tuple_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
tuple_string = str((1,2,3,4,5,6,7,8,9))
print(tuple_string)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
print(type(tuple_string))

<class 'str'>